/*Fonts*/
@font-face {
  font-family: 'Bebas Neue';
     src: url('../fonts/BebasNeue Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Droid Serif Italic';
     src: url('../fonts/DroidSerif-Italic.ttf') format('truetype');
}

/* PRINT ONLY rules follow */
@media print {

    marquee {
	-moz-binding: none;
    }
    body{
	margin: 0 !important;
	color: #f00 !important;
	background-color: #fff !important;
    }
    .ui.secondary.segment {
	background-color: #ffffffff; /* background color of posts */
    }

    overflow: visible !important;
    display: block !important;
    article {
	column-width: 10em;
	column-gap: 3em;
    }
    color: #f00 !important;
}


/* /\*Widescreen views*\/ */
/* @media screen and (min-width: 2001px) { */
/*   .blog-card { */
/*     width: calc(25% - 3rem); */
/*   } */
/* } */
/* @media screen and (min-width: 1401px) and (max-width: 2000px)  { */
/*   .blog-card { */
/*     width: calc(33% - 2rem); */
/*   } */
/* } */

/*Computer view*/
/* @media screen and (min-width: 801px) and (max-width: 1490px) { */
@media screen and (min-width: 701px) {
  .blog-card {
      /* width: calc(50% - 1rem); */
      width: 100%;
      height: 150px;
  }
}

@media screen and (max-width: 300px) {
  .title-content {
    top: 30px;
  }

  .intro {
    display: none;
  }

  .utility-list span {
    font-size: 1.2rem !important;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 12px !important;
  }
}

/* @media screen and (max-width: 600px) { */
/*   .post-content p img:not(.emoji), .post-content ul li img { */
/*     max-width: 100% !important; */
/*   } */

/*   .youtube { */
/*     width: 100% !important; */
/*   } */
/* } */
/*Tablet view*/
/* @media screen and (min-width: 701px) and (max-width: 800px) { */
/*   .blog-card { */
/*     width: calc(50% - 1rem); */
/*   } */

/*   .pusher::-webkit-scrollbar { */
/*     width: 2vw; */
/*   } */
/* } */
/*Mobile view*/
@media screen and (max-width: 700px) {
  .blog-card {
    /* width: calc(100% - 20rem); */
    width: 100%;
    height: 150px;
  }
}
@media screen and (max-width: 700px) {

  .pusher::-webkit-scrollbar {
    width: 5px !important;
  }

  .top.bar .item {
    margin: 0;
    padding-right: 0;
  }

  .top.bar::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 2vw;
  }

  .post-head {
    font-size: 2em;
  }

  .post-content img:not(.emoji) {
      max-width: 100%;
  }

  .post-head,.dream-tags,.copyright,.disqus {
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .top.bar {
    overflow-x: auto;
  }

  .top.bar .item {
    margin: 0;
    padding-right: 0;
  }

  .top.bar::-webkit-scrollbar {
    display: none;
  }

  .post-content img:not(.emoji) {
    max-width: 100%;
  }
}
/*Site settings*/
body, body.pushable {
    background-attachment: scroll;
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: cover !important; */
    /* overflow-y: scroll; /\* has to be scroll, not auto  bu this took away my scroll bars altogether!!! *\/ */
    -webkit-overflow-scrolling: touch; /* https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/ */
}

.anchor {
  visibility: hidden;
}

/* h1,h2,h3,h4,h5,h6{ */
/*     margin:1.5em 0 -1em 0; */
/*     clear:both */
/* } */
h1 {
    font-size: 1.4em;
}
h2 {
    font-size: 1.2em;
}
h3 {
    font-size: 1.0em;
}
.katex { font-size: 1.1em; }/* https://katex.org/docs/font.html */

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor,
h7:hover .anchor,
h8:hover .anchor,
h9:hover .anchor {
  visibility: visible;
}

li:not('.toc') {
  line-height: 1.4285em;
}

.spoiler {
    font-size: 1.4em;    
    color: black;
    background-color: red;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.row.box {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.column-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.both.flexbox {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.none.flexbox {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.shrink.flexbox {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.grow.flexbox {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

/* nice: https://css-tricks.com/snippets/css/a-guide-to-flexbox/#flexbox-background */
.post-list .cards {
  margin-right: -1rem;
  margin-left: -1rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

.glass {
  position: absolute;
  overflow: hidden;
}

.glass:before {
  content: "";
  position: absolute;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
  filter: blur(10px);
}
/*Background*/
.blur-overlay {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: inherit;
  --webkit-filter: blur(var(--blurEff));
  filter: blur(var(--blurEff));
}

.pusher {
  background-color: transparent;
  -webkit-perspective: 100rem;
  -moz-perspective: 100rem;
  -o-perspective: 100rem;
  perspective: 100rem;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto !important;
}

.pusher.dimmed {
  overflow-y: hidden !important;
}

.pusher::-webkit-scrollbar {
    width: 1.25vw;
    background-color: #00000033;
}

.pusher::-webkit-scrollbar-thumb {
  background: #aaa;
  background-color: rgba(255, 255, 255, 0.4);
}
.pusher::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.ui.inverted.segment {
  background-color: #1b1c1ded;
}

.ui.secondary.segment {
  /* background-color: #ececece8; */
    background-color: #fffffff2; /* background color of posts */
    padding: auto 1.5em 0 1.5em;
}

.ui.grid {
  margin-left: 0;
  margin-right: 0;
}

.ui.label {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

ul > li {
  margin-bottom: 0.2rem;
}
/*About section*/
.about, .four-o-four {
  height: auto;
  overflow-y: hidden;
}

.about .twemoji {
  font-size: 1.1rem;
}

.four-o-four .twemoji {
  text-align: center;
}
/*Top nav bar*/
.top.bar {
  background-color: #00000066;
  overflow-y: hidden;
  height: 7vh;
  overflow-x: auto;
}
/*Post settings*/
.post-title {
    align:center;
    text-align:center;
    color: red;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-family: 'Megrim', bold; 
    font-size: 3em;    
    text-transform: uppercase;
}
.title {
    align:center;
    text-align:center;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Megrim', bold; 
    font-size: 3em;    
    text-transform: uppercase ;
}

.post-head .sub.header {
  letter-spacing: 0.05em;
  font: 1.4rem 'Bebas Neue';
}

.sub.header div {
  display: inline-block;
}

.sub.header div:not(:last-child) {
  margin-right: 1rem;
}

.sub.header span {
  white-space: nowrap;
}

.sub.header i:not(.comment) {
  margin-right: 0.1rem !important;
}

.toc {
  font-size: 1.1rem;
  line-height: 1rem;
  background-color: #ffffff70;
  # border: 1px solid #8a8a8a6b;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow-x: auto;
}

.post-list {
  height: auto;
  width: auto;
  overflow: hidden;
}

.footnote { 
    color:#000; 
    margin-left: 0.5em;
    font-size:0.85em;
}

table{
    color:#141823;
    border-collapse:collapse;
    border-spacing:0;
    margin:1.5em 0;
    font-size:0.8em;
    font-weight:normal;
}
td,th{
    padding:.0em 0.2em;
    border:thin solid #d1d1d1;
    text-align:right
}
th{
    font-family:'LatoLatinWebBlack';
    font-size:100%;
    font-weight:normal;
}

tr:hover {background-color: #f5f5f5;}
/* tr:nth-child(even) */
/* 	    td{background:#fff6f7} */

a{
    font-weight: bold;
    color:#2266ee
}
sup {
    font-family:'LatoLatinWeb';
    font-size: 80%;
}

.post-subtitle {
    font-family: Montserrat;
    font-size: 1.3rem;
    color: #001122;
}
.post-content {
    /* font-family: Montserrat; */
    font-family: 'LatoLatinWebLight';
    /* font-family: 'Abel'; */
    font-weight: normal;
    font-size: 1.2rem;
    color: black; 
}

.post-content blockquote {
  background: #f9f9f0;
  border-left: 8px solid #ccc;
  padding: 0.4em 0.8em;
  margin: 0.5em 0 0.5em 0;
}

.blockquote {
  background: #f9f9f0;
  border-left: 8px solid #ccc;
  padding: 0.4em 0.8em;
  margin: 0.5em 0 0.5em 0;
}

.post-content ul + blockquote {
  margin-left: 2.5em;
}

.post-content code {
  font-size: 0.8em;
  background-color: #c0c9c833;
  padding: 0.05em 0.2em; 
  border: 1px solid #a2a6a6;
  border-radius: 0.2em;
}

.post-content pre code {
  font-family: 'Inconsolata', monospace;
  font-size: 1.0em;
  background-color: unset;
  padding: initial;
  border: unset;
}

.post-content img:not(.emoji) {
  position: relative;
  max-width: 80%;
  display: block;
}

/* .post-content img { */
/*     # display: block; */
/*     # margin-left: auto; */
/*     # margin-right: auto; */
/*     # align: center; */
/*     max-width:80%; */
/*     max-height:500px; */
/*     padding-bottom: 10px; */
/* } */

img.featured-image {
    # display: block;
    # margin-left: auto;
    # margin-right: auto; 
    # align: center;
    max-width:100%;
    max-height:500px;
    padding-bottom: 10px;
}


p > img:not(.emoji), li > img {
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 1);
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 1);
  margin: 1em auto 1em auto;
}

.emoji {
  height: 1.1em;
  width: 1.1em;
  vertical-align: -0.15em;
  background-color: transparent;
}

.youtube.container {
  position: relative;
  margin: auto auto 1em auto;
  width: 80%;
  padding-bottom: 45%;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 1);
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 1);
}

.youtube.container .youtube {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/*Syntax Highlighting*/
.post-content pre {
  background-color: #0fffff70;
  border: 1px solid #8a8a8a6b;
  border-radius: 5px;
  overflow-x: auto;
}
.highlight {
    border-radius: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 0rem;
    /* border: 1px solid #8a8a8a6b; */ 
}
/* highlight box of code */
.highlight pre {
  background: #f3f5f3;
  padding: 0.5em;
  border: initial;
  border-radius: 10px;
}

.highlight > div {
  height: auto;
  width: 100%;
  max-height: 30em;
  overflow-y: auto;
  padding: 0 2px 0 2px;
}

.highlight > div::-webkit-scrollbar {
  width: 8px;
}

.highlight table {
  overflow-y: hidden;
}
/*Share card*/
.share {
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.author .avatar {
  height: 5em;
  width: 5em;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 0 0 0.1em #fff, 0 0 0 0.4rem #eee;
}

.info {
  max-width: 60%;
  margin-left: 1em;
}

.share .name {
  margin-bottom: 1px;
  display: block;
  color: #3e3e3e;
  font: bold 1.4em 'Lato';
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.share .name:hover {
  text-decoration: underline;
}

.share .desc {
  display: block;
  color: #3e3e3e;
  font-size: 0.9em;
}

.spacer {
  min-width: 1em;
}

.share .buttons {
  margin: auto;
  margin-right: 0;
  flex-wrap: wrap;
}

.facebook {
  align-self: flex-start;
  width: 7.5em;
  margin-right: 0.1em;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.twitter {
  align-self: flex-end;
  margin-left: 0.1em;
  width: 7.5em;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.twitter:hover, .facebook:hover {
  opacity: 0.8;
}
/*Flip settings*/
.flip-it .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flipper {
  -webkit-transition: 0.8s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.8s;
  -moz-transform-style: preserve-3d;
  -o-transition: 0.8s;
  -o-transform-style: preserve-3d;
  transition: 0.8s;
  transform-style: preserve-3d;
  position: relative;
}
/*Page sections, front and back*/
.front, .back {
  min-height: 100vh;
  background: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  height: auto;
  width: 100vw;
  position: absolute;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  padding-bottom: 1em;
}
/*Sidebar*/
#sidebar {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  min-height: 100vh;
}

#sidebar #author {
  border-radius: 0;
  border-top: 0;
}

#sidebar #footer {
  border-radius: 0;
  border-bottom: 0;
}

#sidebar::-webkit-scrollbar {
  width: 4px;
}

#sidebar .content.active, #sidebar .content.animating {
  font-size: 14px;
  padding: 0.1em 0.1em 0 1.5em;
}

#sidebar .item {
  padding: 0.3em 0.3em 0.3em 2em;
  color: white;
}

#sidebar .item:before {
  background: transparent;
}

#sidebar .content a i {
  position: absolute;
  left: 0.3em;
  top: 25%;
}

#sidebar .link {
  color: #ffffffd6;
}

#sidebar .link:hover {
  color: white;
}

#author .sub.header {
  color: #fff;
}
/*Header*/
#header {
  padding: 0;
}

#header section, #header header, #header footer {
  background-color: transparent;
}

.dream-categories::-webkit-scrollbar {
  width: 4px;
}

#header .title.header-title, #header .active.title.header-title, #header .title.active.header-title {
  padding: 0;
}

#tag-category-pop {
  margin-right: -1px;
}

.hand.point.icon {
  position: relative;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  backface-visibility: visible;
}

.hand.point.icon.active {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

#tag-category, #tag-category.active {
  padding-top: 0;
}

#tag-category .accordion {
  margin-top: 0;
}

#tag-category .item i {
  position: absolute;
  left: 0;
}

#tag-category .content, #tag-category .content.active, #tag-category .content.animating {
  padding: 0.1em 0 0.1em 1.6em;
}

#tag-category .content a i {
  position: absolute;
  left: 0.3em;
  top: 20%;
}

#tag-category div a {
  color: white;
}

#tag-category div .link {
  color: #ffffffd6;
}

#tag-category div .link:hover {
  color: white;
}

#tag-category .item div {
  position: relative;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  transition: 0.5s;
}

#tag-category .item div:hover {
  background-color: rgba(255, 255, 255, 0.18);
}

#tag-category a p {
  padding-left: 2em;
}

#tag-category {
  padding-bottom: 0;
}

#tag-category.active {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

#tag-category .dream-tags {
  overflow: hidden;
  height: auto;
}

#tag-category .dream-categories {
  overflow-x: hidden;
  max-height: 9em;
}
/*Card settings*/
.blog-card {
  position: relative;
  margin-bottom: 1.5em;
  margin-right: 0.75em;
  margin-left: 0.75em;
  float: none;
  color: #fff;
  transition: 0.4s;
  background: #00001188;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 1);
  z-index: 0;
}

.blog-card:hover {
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 1);
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 1);
}

.blog-card  .image{
  # width: 100%;
  height: 100%; 
}

.blog-card .title-content {
  color: #ffffffaa;
  # font: 400 2rem 'Abril Fatface', cursive;
  font-family:  'LatoLatinWebHeavy'; 
  font-size: 1.2em; 
  letter-spacing: 3px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  margin-left: 40%;
}

.blog-card .title-content:hover {
  text-shadow: 0 8px 20px rgba(0, 0, 0, 0.95);
}

.title-content {
  color: #fff;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  z-index: 2;
  width: 60%;
  text-align: left;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.card.title-content {
    opacity: 0;
    bottom: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.blog-card:hover .card.title-content {
  opacity: 1;
  bottom: 0;
}

.blog-card:hover .title-content {
    bottom: 2rem;
    color: #fff;
}

.blog-card h3:after {
  content: " ";
  display: block;
  width: 10%;
  height: 0.2rem;
  text-align: left;
  border: 0;
  z-index: 2;
  background: #BDA26B;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.blog-card:hover h3:after {
  animation: changeLetter 0.3s 1 linear;
  width: 80%;
}

@keyframes changeLetter {
  0% {
    width: 10%;
  }

  100% {
    width: 80%;
  }
}

.intro {
  margin: auto;
  font: 200 1.2rem 'Droid Serif Italic';
  line-height: 1.2rem;
  letter-spacing: 1px;
  width: 90%;
  color: #ddd;
  opacity: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 2;
}

.blog-card:hover .intro {
  opacity: 1;
} 

.utility-info {
  color: white;
  position: absolute;
  height: auto;
  padding-left: 1em;
  padding-right: 2em;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  text-align: right;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
/* background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.1) 21%); */

/* .blog-card:hover .utility-info { */
/*   background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.2) 21%); */
/* } */

.utility-info span {
  font-size: 1rem;
  white-space: nowrap;
}

.utility-list div:not(:last-child) {
  margin-right: 1em;
}

.utility-list div {
  display: inline-block;
}

.utility-list {
  list-style-type: none;
  padding: 0;
}

.color-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.0);
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0%;
  left: 0%;
  transition: background 0.4s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.card.color-overlay {
  background: rgba(0, 0, 0 ,0);
}

.blog-card:hover .color-overlay {
  background: rgba(0, 0, 0, 0.25);
}

.license.statement {
  font-size: 1.1em;
  padding-left: 1em;
  margin: auto;
}


font-face{font-family:'LatoLatinWebBlack';
src:url('../font/LatoLatin-Black.eot');
src:url('../font/LatoLatin-Black.eot?#iefix') format('embedded-opentype'),url('../font/LatoLatin-Black.woff2') format('woff2'),url('../font/LatoLatin-Black.woff') format('woff'),url('../font/LatoLatin-Black.ttf') format('truetype');
font-style:normal;
font-weight:normal;
font-display:swap;
text-rendering:optimizeLegibility}@font-face{font-family:'LatoLatinWebBlack';
src:url('../font/LatoLatin-BlackItalic.eot');
src:url('../font/LatoLatin-BlackItalic.eot?#iefix') format('embedded-opentype'),url('../font/LatoLatin-BlackItalic.woff2') format('woff2'),url('../font/LatoLatin-BlackItalic.woff') format('woff'),url('../font/LatoLatin-BlackItalic.ttf') format('truetype');
font-style:italic;
font-weight:normal;
font-display:swap;
text-rendering:optimizeLegibility}@font-face{font-family:'LatoLatinWeb';
src:url('../font/LatoLatin-Bold.eot');
src:url('../font/LatoLatin-Bold.eot?#iefix') format('embedded-opentype'),url('../font/LatoLatin-Bold.woff2') format('woff2'),url('../font/LatoLatin-Bold.woff') format('woff'),url('../font/LatoLatin-Bold.ttf') format('truetype');
font-style:normal;
font-weight:bold;
font-display:swap;
text-rendering:optimizeLegibility}@font-face{font-family:'LatoLatinWeb';
src:url('../font/LatoLatin-BoldItalic.eot');
src:url('../font/LatoLatin-BoldItalic.eot?#iefix') format('embedded-opentype'),url('../font/LatoLatin-BoldItalic.woff2') format('woff2'),url('../font/LatoLatin-BoldItalic.woff') format('woff'),url('../font/LatoLatin-BoldItalic.ttf') format('truetype');
font-style:italic;
font-weight:bold;
font-display:swap;
text-rendering:optimizeLegibility}@font-face{font-family:'LatoLatinWebHairline';
src:url('../font/LatoLatin-Hairline.eot');
src:url('../font/LatoLatin-Hairline.eot?#iefix') format('embedded-opentype'),url('../font/LatoLatin-Hairline.woff2') format('woff2'),url('../font/LatoLatin-Hairline.woff') format('woff'),url('../font/LatoLatin-Hairline.ttf') format('truetype');
font-style:normal;
font-weight:normal;
font-display:swap;
text-rendering:optimizeLegibility}@font-face{font-family:'LatoLatinWebHairline';
src:url('../font/LatoLatin-HairlineItalic.eot');
src:url('../font/LatoLatin-HairlineItalic.eot?#iefix') format('embedded-opentype'),url('../font/LatoLatin-HairlineItalic.woff2') format('woff2'),url('../font/LatoLatin-HairlineItalic.woff') format('woff'),url('../font/LatoLatin-HairlineItalic.ttf') format('truetype');
font-style:italic;
font-weight:normal;
font-display:swap;
text-rendering:optimizeLegibility}@font-face{font-family:'LatoLatinWebHeavy';
src:url('../font/LatoLatin-Heavy.eot');
src:url('../font/LatoLatin-Heavy.eot?#iefix') format('embedded-opentype'),url('../font/LatoLatin-Heavy.woff2') format('woff2'),url('../font/LatoLatin-Heavy.woff') format('woff'),url('../font/LatoLatin-Heavy.ttf') format('truetype');
font-style:normal;
font-weight:normal;
font-display:swap;
text-rendering:optimizeLegibility}@font-face{font-family:'LatoLatinWebHeavy';
src:url('../font/LatoLatin-HeavyItalic.eot');
src:url('../font/LatoLatin-HeavyItalic.eot?#iefix') format('embedded-opentype'),url('../font/LatoLatin-HeavyItalic.woff2') format('woff2'),url('../font/LatoLatin-HeavyItalic.woff') format('woff'),url('../font/LatoLatin-HeavyItalic.ttf') format('truetype');
font-style:italic;
font-weight:normal;
font-display:swap;
text-rendering:optimizeLegibility}@font-face{font-family:'LatoLatinWeb';
src:url('../font/LatoLatin-Italic.eot');
src:url('../font/LatoLatin-Italic.eot?#iefix') format('embedded-opentype'),url('../font/LatoLatin-Italic.woff2') format('woff2'),url('../font/LatoLatin-Italic.woff') format('woff'),url('../font/LatoLatin-Italic.ttf') format('truetype');
font-style:italic;
font-weight:normal;
font-display:swap;
text-rendering:optimizeLegibility}@font-face{font-family:'LatoLatinWebLight';
src:url('../font/LatoLatin-Light.eot');
src:url('../font/LatoLatin-Light.eot?#iefix') format('embedded-opentype'),url('../font/LatoLatin-Light.woff2') format('woff2'),url('../font/LatoLatin-Light.woff') format('woff'),url('../font/LatoLatin-Light.ttf') format('truetype');
font-style:normal;
font-weight:normal;
font-display:swap;
text-rendering:optimizeLegibility}@font-face{font-family:'LatoLatinWebLight';
src:url('../font/LatoLatin-LightItalic.eot');
src:url('../font/LatoLatin-LightItalic.eot?#iefix') format('embedded-opentype'),url('../font/LatoLatin-LightItalic.woff2') format('woff2'),url('../font/LatoLatin-LightItalic.woff') format('woff'),url('../font/LatoLatin-LightItalic.ttf') format('truetype');
font-style:italic;
font-weight:normal;
font-display:swap;
text-rendering:optimizeLegibility}@font-face{font-family:'LatoLatinWebMedium';
src:url('../font/LatoLatin-Medium.eot');
src:url('../font/LatoLatin-Medium.eot?#iefix') format('embedded-opentype'),url('../font/LatoLatin-Medium.woff2') format('woff2'),url('../font/LatoLatin-Medium.woff') format('woff'),url('../font/LatoLatin-Medium.ttf') format('truetype');
font-style:normal;
font-weight:normal;
font-display:swap;
text-rendering:optimizeLegibility}@font-face{font-family:'LatoLatinWebMedium';
src:url('../font/LatoLatin-MediumItalic.eot');
src:url('../font/LatoLatin-MediumItalic.eot?#iefix') format('embedded-opentype'),url('../font/LatoLatin-MediumItalic.woff2') format('woff2'),url('../font/LatoLatin-MediumItalic.woff') format('woff'),url('../font/LatoLatin-MediumItalic.ttf') format('truetype');
font-style:italic;
font-weight:normal;
font-display:swap;
text-rendering:optimizeLegibility}@font-face{font-family:'LatoLatinWeb';
src:url('../font/LatoLatin-Regular.eot');
src:url('../font/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'),url('../font/LatoLatin-Regular.woff2') format('woff2'),url('../font/LatoLatin-Regular.woff') format('woff'),url('../font/LatoLatin-Regular.ttf') format('truetype');
font-style:normal;
font-weight:normal;
font-display:swap;
text-rendering:optimizeLegibility}@font-face{font-family:'LatoLatinWebSemibold';
src:url('../font/LatoLatin-Semibold.eot');
src:url('../font/LatoLatin-Semibold.eot?#iefix') format('embedded-opentype'),url('../font/LatoLatin-Semibold.woff2') format('woff2'),url('../font/LatoLatin-Semibold.woff') format('woff'),url('../font/LatoLatin-Semibold.ttf') format('truetype');
font-style:normal;
font-weight:normal;
font-display:swap;
text-rendering:optimizeLegibility}@font-face{font-family:'LatoLatinWebSemibold';
src:url('../font/LatoLatin-SemiboldItalic.eot');
src:url('../font/LatoLatin-SemiboldItalic.eot?#iefix') format('embedded-opentype'),url('../font/LatoLatin-SemiboldItalic.woff2') format('woff2'),url('../font/LatoLatin-SemiboldItalic.woff') format('woff'),url('../font/LatoLatin-SemiboldItalic.ttf') format('truetype');
font-style:italic;
font-weight:normal;
font-display:swap;
text-rendering:optimizeLegibility}@font-face{font-family:'LatoLatinWebThin';
src:url('../font/LatoLatin-Thin.eot');
src:url('../font/LatoLatin-Thin.eot?#iefix') format('embedded-opentype'),url('../font/LatoLatin-Thin.woff2') format('woff2'),url('../font/LatoLatin-Thin.woff') format('woff'),url('../font/LatoLatin-Thin.ttf') format('truetype');
font-style:normal;
font-weight:normal;
font-display:swap;
text-rendering:optimizeLegibility}@font-face{font-family:'LatoLatinWebThin';
src:url('../font/LatoLatin-ThinItalic.eot');
src:url('../font/LatoLatin-ThinItalic.eot?#iefix') format('embedded-opentype'),url('../font/LatoLatin-ThinItalic.woff2') format('woff2'),url('../font/LatoLatin-ThinItalic.woff') format('woff'),url('../font/LatoLatin-ThinItalic.ttf') format('truetype');
font-style:italic;
font-weight:normal;
font-display:swap;
text-rendering:optimizeLegibility}
