{{/*Load basic CSS*/}}
<link rel="stylesheet" type="text/css" href="{{ "css/site.css" | absURL }}">

<!-- {{/*Load syntax highlighting CSS, if present*/}} -->
<!-- {{ if fileExists "static/css/highlight.css" }} -->
<!-- 	<link rel="stylesheet" type="text/css" href="{{ `/css/highlight.css` }}"> -->
<!-- {{ end }} -->

{{/*Load custom CSS*/}}
{{ range $val := $.Site.Params.features.customCSS }}
	{{ if gt (len $val) 0 }}
		<link rel="stylesheet" type="text/css" href="{{ $val | absURL }}">
	{{ end }}
{{ end }}
<style>
        body {
	{{ with $.Site.Params.background.colorBG }}
	        --colorBG: "#40e0d0, #ff8c00, #ff0080";
	       background: linear-gradient(to right, var(--colorBG)) !important;
	{{ else }}
	       background-image: url("{{ $.Site.Params.background.bgImage | absURL | safeCSS }}");
	       background-repeat: repeat;
	{{ end }}
        }
</style>
